<app-header [companyInfo]="companyInfo"></app-header>
<mat-tab-group
  mat-stretch-tabs
  class="example-stretched-tabs mat-elevation-z4"
  [ngStyle]="{ textAlign: 'center', backgroundColor: 'skyblue' }"
>
  <mat-tab label="Categories"
    ><app-categories [categoriesInfo]="categoriesInfo"></app-categories
  ></mat-tab>
  <mat-tab label="Products by Category"
    ><app-products
      [productsInfo]="productsInfo"
      [categoriesInfo]="categoriesInfo"
    ></app-products
  ></mat-tab>
</mat-tab-group>

<app-footer></app-footer>
